h1 {
 font-size: xx-large;
 margin: 0;
 text-align: center ;
}

.main-nav {
  display: inline;
  text-align: center;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 80%;
    border: 5px solid rgb(204, 9, 197);
}

.background {
    background: url('images/background.jpg') no-repeat top center ;
}

.About {
    text-align: left;
}

p {
    font-size: large;
}